<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<form th:action="@{/estudante}" method="post">

    <div>
        <input type="text" name="nome">
    </div>

    <div>
        <input type="text" name="matricula">
    </div>

    <div>
        <input type="date" name="dataNascimento">
    </div>

    <div>
        <input type="submit" value="Cadastrar">
    </div>

</form>

</body>

</html>